<ion-header>
  <ion-navbar>
    <ion-title>Płatności</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let payment of payments$ | async">
      <h2 *ngIf="payment.customer; else deletedCustomer">{{payment.customer.fullName}}</h2>
      <h3>{{payment.amount | currency:'PLN':'symbol-narrow'}}</h3>
      <p>{{payment.timestamp | date:'d LLLL y, H:mm'}}</p>
    </ion-item>
  </ion-list>
</ion-content>

<ng-template #deletedCustomer>
  <h2><del>Usunięty</del></h2>
</ng-template>
