<ion-header>

  <ion-navbar>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <h1 text-center>{{customer.fullName}}</h1>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button
                icon-start
                outline
                block
                (click)="createCheckIn()">
          <ion-icon name="checkmark"></ion-icon>
          Wejście
        </button>
      </ion-col>
      <ion-col>
        <button ion-button
                icon-start
                outline
                block
                (click)="createPayment()">
          <ion-icon name="basket"></ion-icon>
          Płatność
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h2>Karty</h2>
  <ion-list *ngIf="customer.cards.length > 0; else noCards">
    <ion-item *ngFor="let card of customer.cards">
      <p>{{card.code}}</p>
    </ion-item>
  </ion-list>
  <h2>Wejścia</h2>
  <ng-container *ngIf="checkIns$ | async as checkIns; else spinner">
    <check-in-list *ngIf="checkIns.length > 0; else noCheckIns"
                   [checkIns]="checkIns">
    </check-in-list>
  </ng-container>
  <h2>Płatności</h2>
  <ng-container *ngIf="payments$ | async as payments">
    <ion-list *ngIf="payments.length > 0; else noPayments">
      <ion-item *ngFor="let payment of payments">
        <h3>{{payment.amount | currency:'PLN':'symbol-narrow'}}</h3>
        <p>{{payment.timestamp.format('MM.DD.YYYY, H:mm')}}</p>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>

<ng-template #noCards>
  <p>Ten klient nie ma przypisanej żadnej karty.</p>
</ng-template>

<ng-template #noCheckIns>
  <p>Ten klient nie ma zarejestrowanych żadnych wejść.</p>
</ng-template>

<ng-template #noPayments>
  <p>Ten klient nie dokonał żadnej płatności.</p>
</ng-template>

<ng-template #spinner>
  <list-spinner></list-spinner>
</ng-template>
