<ion-header>
  <ion-navbar>
    <ion-title>
      Klienci
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addCustomer()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="customers$ | async as customers; else spinner">
    <ion-list *ngIf="customers.length > 0; else noCustomers">
      <ion-item *ngFor="let customer of customers" (click)="showCustomer(customer)">
        <h2>{{customer.fullName}}</h2>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>

<ng-template #noCustomers>
  <p padding>Nie zarejestrowano żadnych klientów.</p>
</ng-template>

<ng-template #spinner>
  <app-list-spinner></app-list-spinner>
</ng-template>
